{% extends 'base.html' %}
{% load video_filter %}
{% block css %}
<link href="http://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">
<link href="/static/css/contador.css?k={{timestamp}}" rel="stylesheet">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/jquery-ui.css">

{% endblock %}
{% block openlayers %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
{% endblock %}

{%block scripts%}
<script src="/static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/static/js/video.min.js"></script>
<script src="/static/js/timecode.js"></script>
<script src="/static/js/contador.js?k={{timestamp}}"></script>
{% endblock %}
{%block contents%}
<body>
<div class="main">
    <div class="subcontainer videocontainer" style="background-color:yellow;">
        <video id="my-video" class="video-js" controls preload="metadata" width="1300px" height="100%" data-setup='{ "playbackRates": [0.5, 1, 1.5, 2, 3, 4] }'>
            <source src="{{root}}{{contagem.movie.url}}" type='video/mpeg'>
            <source src="{{root}}{{contagem.movie.url}}" type='video/mp4'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <div id="slider">
            <a href="javascript:void(0);" class="control"></a>
        </div>
    </div>
    <div class="subcontainer lateralcontainer" style="vertical-align:top">
        <div class="title_lateral">{{contagem.endereco}}</div>
        <div id="lateral">
            <h3>Mapa de Localização</h3>
            <div>
                <div id="map" style="width:300px;height:300px;"></div>
            </div>
            <h3>Imagem de Localização</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>Contagem Neste Vídeo</h3>
  <div>
    <table id="counting_table">
        <tr>
            <td></td>
            <td><div class="conta_head carro"></div></td>
            <td><div class="conta_head moto"></div></td>
            <td><div class="conta_head microonibus"></div></td>
            <td><div class="conta_head onibus"></div></td>
            <td><div class="conta_head brt"></div></td>
            <td><div class="conta_head vuc"></div></td>
            <td><div class="conta_head caminhao"></div></td>
            <td><div class="conta_head pedestre"></div></td>
            <td><div class="conta_head bici"></div></td>
        </tr>
    </table>
  </div>
        <div id="teclado_numerico">
            <div class="tecla t7"><div class="subtecla">7<div class="tecla_detalhe">Home</div></div></div>
            <div class="tecla t8"><div class="subtecla">8<div class="tecla_detalhe">↑</div></div></div>
            <div class="tecla t9"><div class="subtecla">9<div class="tecla_detalhe">PgUp</div></div></div>
            <div class="tecla t4"><div class="subtecla">4<div class="tecla_detalhe">←</div></div></div>
            <div class="tecla t5"><div class="subtecla">5<div class="tecla_detalhe"></div></div></div>
            <div class="tecla t6"><div class="subtecla">6<div class="tecla_detalhe">→</div></div></div>
            <div class="tecla t1"><div class="subtecla">1<div class="tecla_detalhe">End</div></div></div>
            <div class="tecla t2"><div class="subtecla">2<div class="tecla_detalhe">↓</div></div></div>
            <div class="tecla t3"><div class="subtecla">3<div class="tecla_detalhe">PgDn</div></div></div>
            <div class="tecla t0" style="width:184px;"><div class="subtecla">0<div class="tecla_detalhe">Ins</div></div></div>
            <div class="tecla t_"><div class="subtecla">.<div class="tecla_detalhe">Del</div></div></div>
        </div>
        <div id="listagem_pontos">
            <form name="points">{% csrf_token %}
            <table style="background-color:gray;width:100%" id="points_table">
            </table>
            </form>
        </div>
        <div id="od">

        </div>
        <div style="">
            Neste Filme
        </div>
        <div id="contagem" style="">

        </div>
        <div style="">
            Totais
        </div>
        <div id="total" style="">

        </div>
        <div id="controles" style="">
            <div>
                <a class="player-button" href="javascript:void(0);" what="rew">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </a>
                <a class="player-button" href="javascript:void(0);" what="play">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </a>
                <a class="player-button" href="javascript:void(0);" what="ffw">
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                </a>

                <a class="player-button" href="javascript:void(0);" what="eject">
                    <i class="fa fa-eject" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div id="voltar" style=""><div><a href="/lista">Voltar</a></div></div>
        <div>
            <input type="text" name="data_e_hora" id="data_e_hora" style="display:none">

        </div>
    </div>

</div>
<script type="text/javascript">
var map,features;
var tipos={{json_tipos|safe}};
var linhas=[];
var contado={};
{% for contado in contados %}
if(!contado['{{contado.tipo}}'])contado['{{contado.tipo}}']=0;
contado['{{contado.tipo}}']++;
{% endfor %}
var contagem_id={{contagem.id}};
var dia='{{dia}}';
var movie='{{contagem.endereco}}';
var VIDEO_ROOT='{{root}}';
{% autoescape on %}
{% for spot in spots%}
linhas.push({'geometry':'{{spot.geometry}}',endereco:'{{spot.endereco}}',alias:'{{spot.alias}}',id:'{{spot.id}}',bi:{% if spot.bi %}true{%else%}false{%endif%}});
{% endfor %}
var videos=[];
{%for m in videos%}
videos.push({url:'{{m.movie}}',id:{{m.id}}, date:'{{m.data_e_hora_inicio|datinha}}'});
{%endfor%}

{% endautoescape %}
    GEOSERVER='{{geoserver}}';
    {%if contagem.location != None %}
    MAP_CENTER=[{{contagem.location.x}},{{contagem.location.y}}];
    {%endif%}
    $(document).ready(function(){
        start();
    });
    videojs("my-video").ready(function(){
        this.timecode({
            timeFormat: 'PAL'
        });
    });
</script>
</body>
{%endblock%}