{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/main.css?k={{timestamp}}" type="text/css">
<link href="/static/css/lista.css?k={{timestamp}}" rel="stylesheet">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
{% endblock %}
{%block scripts%}
<script type="text/javascript" src="/static/js/lista.js?k={{timestamp}}"></script>
<script type="text/javascript">
function createCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

function eraseCookie(name) {
    createCookie(name,"",-1);
}

    function setServer(){
            console.debug($('input[name=servidor]').val());
            createCookie('servidor',$('input[name=servidor]').val(),3000);
    }
</script>
{%endblock%}
{%block contents%}
<body>
<div id="cabecalho">
{% include 'cabecalho.html' %}
<div id="header_menu">
    <div style="" id="filters_box" >
        <div class="contagens menu">
            <a href="javascript:void(0);">Contagens</a>
        </div>
        <div class="servidor menu"><a href="javascript:void(0);">Servidor:<input  type="text" name="servidor" value="{{SERVER}}" onchange="setServer();"/></a></div>

    </div>
</div>
</div>
<div class="lista_contagens">
{%for bairro in bairros%}
    <div><div class="bairro_title">{{bairro.nome}}</div>
    <div class="contagem_body">
    {%for contagem in bairro.contagem_set.all%}
    <div class="contagem_linha">
        <div class="contagem_nome"><a>{{contagem.endereco}}</a></div>
        {%for dia in contagem.get_dias%}
        <div class="contagem_dia">
            <a href="/contador/{{contagem.id}}?dia={{dia}}">{{dia}}</a>
        </div>
        {%endfor%}
    </div>
    {%endfor%}
    </div></div>
{%endfor%}
  <a href="/teclado">teclado</a>
</div>
</body>

{%endblock%}
