<div style="margin-left:20px;float:left">
<div id="submap" style="background:white;width:400px;height:400px;"></div>
<a href="javascript:void(0);" id="clean_submap">Delete all Features</a> - <a href="javascript:void(0);" id="undo">Desfazer</a>
</div>
<script  type="text/javascript">
MAP_CENTER='{{field.field.value}}';
var map;
var vectors;
var features;
</script>
<script type="text/javascript" src="/static/js/admin/mapinha.js?t=9999"></script>
<style type="text/css">
#spot_set-group{
    display:nonn;
}
.field-geom div{
display:nonen;
}
</style>