{% extends 'base.html' %}
{% block css %}
<link href="/static/css/teclado.css?k={{timestamp}}" rel="stylesheet">
{% endblock %}
{%block scripts%}
<script type="text/javascript" src="/static/js/teclado.js?k={{timestamp}}"></script>
{%endblock%}
{%block contents%}
<div class="head">{% csrf_token %}
Arquivo: <span class="filename"></span>
Contando: <select name="spot"></select>
</div>
<div class="main">
<span class="sair" style="color:gray;z-index:300">Logado como {{user}} - <a  style="color:gray" href="/logout" id="logout">Sair</a></span>
{%for k,v in teclas.items%}
    <a style="background-image:url(/static/images/icons/{{v}}.png)" tipo="{{v}}"><div class="display"></div></a>
{%endfor%}
</div>
{%endblock%}