.subcontainer{
    background-color:gray;
    display:inline-block;
    height:100%;
    padding:0;
    margin:0;
}
.main{
    padding:0;
    margin:0;
    background-color:#eee;
    overflow: hidden;
}
#map {
    clear: both;
    position: relative;
    width: 638px;
    height: 768px;
    border: 1px solid black;
    top:0;
}
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
    overflow:hidden;
}
.my-video-dimensions{
    height:100%;
}
video{
    width:1200px;
    padding:20px;
}

#control_panel a{
    width:60px;
    height:75px;
    text-decoration:none;
    display:block;
    background-size: 60px 75px;
    background-repeat: no-repeat;
}
.sub_panel{
    float:left;
    width:50%;
}
#teclado_numerico{
    position: relative;
    background-color:white;
    padding:0;
    display:none;
}

.aspect-ratio {
  position:relative;
  width: 100%;
  height: auto;
  clear:all;
}
.content {
    background-color:gray;
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    display:none;
}
#map{
    background-color:white;
}

.bici{
    background-image:url(/static/images/icons/bici.png);
}
.brt{
    background-image:url(/static/images/icons/brt.png);
}
.caminhao{
    background-image:url(/static/images/icons/caminhao.png);
}
.carro{
    background-image:url(/static/images/icons/carro.png);
}
.microonibus{
    background-image:url(/static/images/icons/microonibus.png);
}
.moto{
    background-image:url(/static/images/icons/moto.png);
}
.onibus{
    background-image:url(/static/images/icons/onibus.png);
}
.pedestre{
    background-image:url(/static/images/icons/pedestre.png);
}
.taxi{
    background-image:url(/static/images/icons/taxi.png);
}
.triciclo{
    background-image:url(/static/images/icons/triciclo.png);
}
.vlt{
    background-image:url(/static/images/icons/vlt.png);
}
.vuc{
    background-image:url(/static/images/icons/vuc.png);
}
.tecla{
    width:84px;
    float:left;
    height:84px;
    margin:6px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    background-color:#aaa;
    background-repeat: no-repeat;
    background-size:50px;
    background-position:center;
}
.subtecla{
    margin: 6px;
    height:74px;
    position:relative;
    background-repeat: no-repeat;
    background-size:50px;
    background-position:center 10px;
}
.tecla_detalhe{
    position:absolute;
    bottom:0;
}
.acesa{
background-color:white !important;
}
#od{
    font-size:50px;
    text-align:center;
}
.head{
    width:30px;
    float:left;
    height:60px;
    border:1px solid black;
    background-color:white;
    background-repeat: no-repeat;
    background-size:25px;
    background-position:center 3px;
    position:relative;
}
.kid{
    width:30px;
    height:30px;
    bottom:0;
    border-top:1px solid black;
    position:absolute;
    text-align:center;
}

focus{
    border:3px solid red;
}
#od{
    display:none;
}
#contagem{
    height:100px;
}

.player-button{
    display:inline-block;
    width:20px;
    height:20px;
    background-color:#eee;
    padding:4px;margin:4px;
    text-align:center;
}
#controles, #voltar{
    padding-left:50%;
}
#controles>div, #voltar>div{
    margin-left:-75px;
}