body{
    font-family:arial, verdana, sans-serif;
}
.lista_contagens{
    font-size:22px;
}

.contagem_body {
   -moz-box-shadow:    inset 0 10px 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0px 10px #000000;
}
.bairro_title{
    color:#e84e0e;
    font-weight:bold;
    padding:0.4em;
}
.contagem_linha{
    padding:0.4em;
    font-size:16px;
    font-family: courier, monospace;
    border-bottom:1px solid #999;
}
.contagem_linha div{
    display:inline-block;
}
.contagem_nome{
    padding:2px;
    border-radius:4px;
    width:120px;
}
.contagem_nome a{
    text-decoration:none;
    color:#666;
}
.contagem_dia{
    background:#ddd;
    padding:2px;
    border-radius:4px;
}
.contagem_dia a{
    font-weight:bold;
    text-decoration:none;
    color:#666;
}
