html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body{
    font-family:sans-serif;
    background-color:#fff;
    overflow:hidden;
}
.selected{
    background-color:#00b;
    color:white;
}
#search_results{
    font-family:sans-serif;
}
#search_results a{
    display:block;
}
#header_menu{
    background-color:#e84e0e;
    position:relative;
    height:33px;
}
#mobilab_logo{
    width:180px;
    height:100%;
    background-image:url(/static/images/logo-mobilab.png);
    float:right;
    background-repeat:no-repeat;
    background-position:0 5px
}

#logo_pref{
    width:290px;
    height:106px;
    background-repeat:no-repeat;
    background-image:url(/static/images/logo_prefeitura.png);
}
#logo_bigrs{
    float:right;
    width:210px;
    height:106px;
    background-repeat:no-repeat;
    background-image:url(/static/images/logo_bigrs.png);
}
#logo_mobilab{
    float:right;
    width:149px;
    height:106px;
    background-repeat:no-repeat;
    background-image:url(/static/images/logo_mobilab_menor.png);
}
#cabecalho{
    background-color:white;
    position:relative;
    box-shadow: 0px 5px 15px #cccccc;
}


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.legend_color{
    width:2em;
    height:2em;
}
#filters_box
{
    left:200px;top:0;z-index:99;
    font-size:small;
    position:absolute;
}
#filters_box>div>div{
    display:none;
    margin-top:0.8em;
}
#filters_box>div{
    padding:0.6em;
    min-width:8em;
    color:white;
    position:relative;
    display:inline-block;
    border:1px solid none;
    vertical-align:top;
    background-color:#e84e0e;
}
#filters_box a{
    display:block;
}
#filters_box a,.sair, .sair a{
    font-size:small;
    text-decoration:none;
    color:white;
}
.sair{
    position:absolute;
    right:20px;
}
a.inactive{
    color:gray !important;
}
.modal{
    opacity:0.2;
    background:green;
    position:absolute;
    height:0;
    width:100%;
    z-index:99;
}
#legenda{
    position:absolute;
    width:200px;
    min-height:300px;
    top:200px;
    left:800px;
    background-color:white;
    padding:4px;
    border:1px solid gray;
    display:none;
    z-index:100;
}
#drop{
    width:100%;
    height:100%;
    opacity:0.1;
    display:none;
    background-color:lime;
    position:absolute;
    left:0;
    top:0;
}

.legenda_text{
    font-size:small;
}